[Unit]
Description=Mirador email service

[Service]
Type=simple
ExecStart=/usr/bin/mirador watch
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target
