/* Colors */
#titlebar {
    background-color: #282828 !important;
    background-image: none !important;
}

tab:not([selected="true"]) {
    color: #EDEDED !important;
}

/* Menu items color */
menubar>menu:not([open]) {
    color: #EDEDED !important;
}

#tabs-newtab-button {
    color: #EDEDED !important;
}

/* Style */
menupopup>menu, menupopup>menuitem {
    padding-block: 2px !important;
}

.tab-background {
    border-radius: 2px 2px 0px 0px !important;
    margin-bottom: 0px !important;
}

.tabbrowser-tab {
	padding-left: 0 !important;
}
