/* Colors */
toolbar#TabsToolbar {
    -moz-appearance: none !important;
    background-color: #282828 !important;
}

#toolbar-menubar, #menubar-items, #main-menubar {
    background-color: #282828 !important;
    background-image: none !important;
}

tab:not([selected="true"]) {
    color: #EDEDED !important;
}

/* Menu items color */
menupopup>menu, menupopup>menuitem {
    padding-block: 2px !important;
}

menubar>menu:not([open]) {
    color: #EDEDED !important;
}
